.badge-success {
  color: #fff;
  background-color: #46be8a
}

.badge-success[href]:focus,.badge-success[href]:hover {
  color: #fff;
  background-color: #369b6f
}

.list-group-item.active>.badge-success,.nav-pills>.active>a>.badge-success {
  color: #fff;
  background-color: #46be8a
}

.badge-info {
  color: #fff;
  background-color: #57c7d4
}

.badge-info[href]:focus,.badge-info[href]:hover {
  color: #fff;
  background-color: #33b6c5
}

.list-group-item.active>.badge-info,.nav-pills>.active>a>.badge-info {
  color: #fff;
  background-color: #57c7d4
}

.badge-warning {
  color: #fff;
  background-color: #f2a654
}

.badge-warning[href]:focus,.badge-warning[href]:hover {
  color: #fff;
  background-color: #ee8d25
}

.list-group-item.active>.badge-warning,.nav-pills>.active>a>.badge-warning {
  color: #fff;
  background-color: #f2a654
}

.badge-danger {
  color: #fff;
  background-color: #f96868
}

.badge-danger[href]:focus,.badge-danger[href]:hover {
  color: #fff;
  background-color: #f73737
}

.list-group-item.active>.badge-danger,.nav-pills>.active>a>.badge-danger {
  color: #fff;
  background-color: #f96868
}

.badge-dark {
  color: #fff;
  background-color: #526069
}

.badge-dark[href]:focus,.badge-dark[href]:hover {
  color: #fff;
  background-color: #3c464c
}

.list-group-item.active>.badge-dark,.nav-pills>.active>a>.badge-dark {
  color: #fff;
  background-color: #526069
}

.badge-lg {
  padding: 5px 9px 8px;
  font-size: 16px
}

.badge-sm {
  padding: 2px 5px;
  font-size: 10px
}