.overlay {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.overlay .overlay-figure,.overlay>:first-child {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0
}

.overlay-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #fff
}

.overlay-panel a:not([class]) {
    color: inherit;
    text-decoration: underline
}

.overlay-panel>:last-child {
    margin-bottom: 0
}

.overlay-panel h1,.overlay-panel h2,.overlay-panel h3,.overlay-panel h4,.overlay-panel h5,.overlay-panel h6 {
    color: inherit
}

.overlay-hover:not(:hover) .overlay-panel:not(.overlay-background-fixed) {
    opacity: 0
}

.overlay-background {
    background: rgba(0,0,0,.5)
}

.overlay-image {
    width: 100%;
    max-width: 100%;
    padding: 0
}

.overlay-shade {
    background: rgba(0,0,0,0) -webkit-gradient(linear,left top,left bottom,color-stop(50%,rgba(255,255,255,0)),color-stop(90%,rgba(255,255,255,.87)),to(#fff)) repeat scroll 0 0;
    background: rgba(0,0,0,0) -webkit-linear-gradient(top,rgba(255,255,255,0) 50%,rgba(255,255,255,.87) 90%,#fff 100%) repeat scroll 0 0;
    background: rgba(0,0,0,0) -o-linear-gradient(top,rgba(255,255,255,0) 50%,rgba(255,255,255,.87) 90%,#fff 100%) repeat scroll 0 0;
    background: rgba(0,0,0,0) linear-gradient(to bottom,rgba(255,255,255,0) 50%,rgba(255,255,255,.87) 90%,#fff 100%) repeat scroll 0 0
}

.overlay-top {
    bottom: auto
}

.overlay-bottom {
    top: auto
}

.overlay-left {
    right: auto
}

.overlay-right {
    left: auto
}

.overlay-icon {
    font-size: 0;
    text-align: center
}

.overlay-icon:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: ""
}

.overlay-icon .icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 32px;
    line-height: 1;
    color: #fff;
    text-decoration: none
}

.overlay-anchor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.overlay-blur,.overlay-fade,.overlay-grayscale,.overlay-scale,.overlay-spin,[class*=overlay-slide] {
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: opacity -webkit-transform -webkit-filter,opacity -webkit-transform filter;
    -o-transition-property: opacity -o-transform filter;
    transition-property: opacity transform filter
}

.overlay-fade {
    opacity: .7
}

.overlay-hover:hover .overlay-fade {
    opacity: 1
}

.overlay-scale {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.overlay-hover:hover .overlay-scale {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1)
}

.overlay-spin {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    -o-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0)
}

.overlay-hover:hover .overlay-spin {
    -webkit-transform: scale(1.1) rotate(3deg);
    -ms-transform: scale(1.1) rotate(3deg);
    -o-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg)
}

.overlay-grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%)
}

.overlay-hover:hover .overlay-grayscale {
    filter: grayscale(0);
    -webkit-filter: grayscale(0)
}

[class*=overlay-slide] {
    opacity: 0
}

.overlay-slide-top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%)
}

.overlay-slide-bottom {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%)
}

.overlay-slide-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%)
}

.overlay-slide-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%)
}

.overlay-hover:hover [class*=overlay-slide] {
    opacity: 1;
    -webkit-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
    -o-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0)
}