
.timeline {
  position: relative;
  padding: 0;
  margin-bottom: 22px;
  list-style: none;
  background: 0 0
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  margin-left: -1px;
  content: "";
  background-color: #e4eaec
}

.timeline:after {
  display: table;
  content: ""
}

.timeline:after {
  clear: both
}

.timeline>li {
  position: relative;
  display: block;
  float: left;
  width: 50%;
  padding-right: 40px;
  margin-bottom: 60px
}

.timeline>li:not(.timeline-period):after,.timeline>li:not(.timeline-period):before {
  content: " ";
  display: table
}

.timeline>li:not(.timeline-period):after {
  clear: both
}

.timeline>li.timeline-period {
  position: relative;
  z-index: 6;
  display: block;
  float: none;
  width: 200px;
  padding: 25px 10px;
  margin: 20px auto 30px;
  clear: both;
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
  background: #f1f4f5
}

.timeline>li.timeline-reverse {
  float: right;
  padding-right: 0;
  padding-left: 40px
}

.timeline>li:last-child {
  margin-bottom: 0
}

.timeline:not(.timeline-single)>li.timeline-period+.timeline-item+.timeline-item,.timeline:not(.timeline-single)>li:not(.timeline-period):first-child+.timeline-item {
  margin-top: 90px
}

.timeline-content {
  float: left;
  width: 100%;
  overflow: hidden;
  clear: left
}

.timeline-reverse .timeline-content {
  float: right;
  clear: right
}

.timeline-content>.widget {
  margin: 0
}

.timeline-dot {
  position: absolute;
  right: 0;
  z-index: 11;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #62a8ea;
  border-radius: 50%;
  top: 7.5px
}

.timeline-reverse .timeline-dot {
  right: auto;
  left: 0;
  margin-right: 0
}

.timeline .timeline-dot {
  width: 14px;
  height: 14px;
  margin-right: -7px;
  line-height: 14px
}

.timeline .timeline-reverse .timeline-dot {
  margin-left: -7px
}

.timeline.timeline-single {
  margin-left: 7px
}

.timeline.timeline-single .timeline-dot {
  margin-left: -7px
}

@media screen and (max-width: 767px) {
  .timeline {
    margin-left:7px
  }

  .timeline .timeline-dot {
    margin-left: -7px
  }
}

.timeline-info {
  float: right;
  padding: 0 20px;
  margin-bottom: 22px;
  line-height: 28px;
  text-align: center;
  background: #e4eaec;
  border: 1px solid #e4eaec;
  border-radius: 20px
}

.timeline-reverse .timeline-info {
  float: left
}

.timeline-footer {
  position: absolute;
  right: 0;
  bottom: -30px;
  margin-right: 55px
}

.timeline-footer .icon {
  margin-right: .3em
}

.timeline-reverse .timeline-footer {
  right: auto;
  left: 0;
  margin-right: 0;
  margin-left: 55px
}

.timeline-reverse+.timeline-reverse {
  margin-top: 0
}

@media screen and (max-width: 767px) {
  .timeline:before {
    left:0
  }

  .timeline li.timeline-reverse,.timeline>li {
    float: none;
    width: 100%;
    padding-right: 0;
    padding-left: 40px;
    margin-top: 0;
    margin-bottom: 60px
  }

  .timeline-content {
    float: none
  }

  .timeline-dot {
    right: auto;
    left: 0;
    margin-right: 0;
    margin-left: -7px
  }

  .timeline-info {
    display: inline-block;
    float: none
  }

  .timeline-footer {
    right: auto;
    bottom: -26px;
    left: 0;
    margin-right: 0;
    margin-left: 40px
  }
}

.timeline-single:before {
  left: 0
}

.timeline-single>li {
  float: none;
  width: 100%;
  padding-right: 0;
  padding-left: 40px;
  margin-bottom: 60px
}

.timeline-single .timeline-content {
  float: none
}

.timeline-single .timeline-dot {
  right: auto;
  left: 0;
  margin-right: 0;
  margin-left: -7px
}

.timeline-single .timeline-info {
  float: left
}

.timeline-single .timeline-footer {
  right: auto;
  bottom: -26px;
  left: 0;
  margin-right: 0;
  margin-left: 40px
}

.timeline-icon .timeline-dot {
  width: 40px;
  height: 40px;
  margin-right: -20px;
  line-height: 40px
}

.timeline-icon .timeline-reverse .timeline-dot {
  margin-left: -20px
}

.timeline-icon.timeline-single {
  margin-left: 20px
}

.timeline-icon.timeline-single .timeline-dot {
  margin-left: -20px
}

@media screen and (max-width: 767px) {
  .timeline-icon {
    margin-left:20px
  }

  .timeline-icon .timeline-dot {
    margin-left: -20px
  }
}

.timeline-icon .timeline-dot {
  top: -5.5px
}

.timeline-avatar .timeline-dot {
  width: 40px;
  height: 40px;
  margin-right: -20px;
  line-height: 40px
}

.timeline-avatar .timeline-reverse .timeline-dot {
  margin-left: -20px
}

.timeline-avatar.timeline-single {
  margin-left: 20px
}

.timeline-avatar.timeline-single .timeline-dot {
  margin-left: -20px
}

@media screen and (max-width: 767px) {
  .timeline-avatar {
    margin-left:20px
  }

  .timeline-avatar .timeline-dot {
    margin-left: -20px
  }
}

.timeline-avatar-sm .timeline-dot {
  width: 30px;
  height: 30px;
  margin-right: -15px;
  line-height: 30px
}

.timeline-avatar-sm .timeline-reverse .timeline-dot {
  margin-left: -15px
}

.timeline-avatar-sm.timeline-single {
  margin-left: 15px
}

.timeline-avatar-sm.timeline-single .timeline-dot {
  margin-left: -15px
}

@media screen and (max-width: 767px) {
  .timeline-avatar-sm {
    margin-left:15px
  }

  .timeline-avatar-sm .timeline-dot {
    margin-left: -15px
  }
}

.timeline-avatar-lg .timeline-dot {
  width: 50px;
  height: 50px;
  margin-right: -25px;
  line-height: 50px
}

.timeline-avatar-lg .timeline-reverse .timeline-dot {
  margin-left: -25px
}

.timeline-avatar-lg.timeline-single {
  margin-left: 25px
}

.timeline-avatar-lg.timeline-single .timeline-dot {
  margin-left: -25px
}

@media screen and (max-width: 767px) {
  .timeline-avatar-lg {
    margin-left:25px
  }

  .timeline-avatar-lg .timeline-dot {
    margin-left: -25px
  }
}

.timeline-simple .timeline-dot {
  top: 0;
  margin-top: 10px
}

.timeline-feed .timeline-dot {
  width: 30px;
  height: 30px;
  margin-right: -15px;
  line-height: 30px
}

.timeline-feed .timeline-reverse .timeline-dot {
  margin-left: -15px
}

.timeline-feed.timeline-single {
  margin-left: 15px
}

.timeline-feed.timeline-single .timeline-dot {
  margin-left: -15px
}

@media screen and (max-width: 767px) {
  .timeline-feed {
    margin-left:15px
  }

  .timeline-feed .timeline-dot {
    margin-left: -15px
  }
}
.timeline-feed.timeline-simple .timeline-dot {
  margin-top: 5px
}

.timeline-feed>li {
  padding-right: 30px;
  margin-bottom: 22px
}

.timeline-feed>li.timeline-reverse {
  padding-left: 30px
}

.timeline-feed.timeline-single>li {
  padding-left: 30px
}

@media screen and (max-width: 767px) {
  .timeline-feed>li {
    padding-right:30px;
    margin-bottom: 22px
  }
}

.timeline {
  margin-left: 50px;
  margin-right: 30px;
  margin-bottom: 0
}

.timeline::before {
  left: 0;
  top: 20px;
  width: 1px;
  height: 100%;
  margin-left: 0;
  background-color: #e5e5e5;
}

.timeline>li {
  width: 100%;
  padding-left: 49px;
  padding-right: 0;
  margin-bottom: 0;
  margin-top: 0;
  cursor: pointer
}

.timeline>li:last-child .timeline-content-wrap {
  border-bottom: none
}

.timeline-content-wrap {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5
}

.timeline-content-wrap:after, .timeline-content-wrap:before {
  content: " ";
  display: table
}

.timeline-content-wrap:after {
  clear: both
}

.timeline-icon .timeline-reverse .timeline-dot {
  top: 12px
}

.timeline-content .title {
  color: #76838f
}

.timeline-content .title .authors, .timeline-content .title .room-number {
  margin-right: 5px;
  font-weight: 400;
  color: #37474f
}

.timeline-content .metas {
  padding: 3px 0;
  color: #a3afb7
}

.timeline-content .members {
  padding-left: 0;
  margin-top: 7px;
  list-style-type: none
}

.timeline-content .members>li {
  display: inline-block;
  margin-right: 10px
}

.timeline-content .members .avatar-sm {
  width: 27px
}

.timeline-content .photos {
  padding-left: 0;
  margin-top: 7px;
  list-style-type: none
}

.timeline-content .photos:after, .timeline-content .photos:before {
  content: " ";
  display: table
}

.timeline-content .photos:after {
  clear: both
}

.timeline-content .photos>li {
  float: left;
  width: 31%;
  margin-right: 3%
}

.timeline-content .photos>li:last-child {
  margin-right: 0
}

.timeline-content .operates {
  padding-left: 0;
  margin-top: 7px;
  list-style-type: none
}

.timeline-content .operates>li {
  display: inline-block;
  margin-right: 30px
}

.timeline-content .operates .btn {
  width: 128px;
  height: 32px;
  line-height: 8px;
  color: #76838f
}

.timeline-content .operates .btn:hover {
  color: #fff
}


/* Let's get this party started */
div.card::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {

  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: rgba(0,0,0,.16);
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,.05);
}