@import "../node_modules/leaflet/dist/leaflet.css";
@import "typography";

.container-fluid{
  padding-top: 20px!important;
  background-color: whitesmoke;
  height: auto;
  overflow: hidden;
}
.row {
  padding: 10px;
}
.turquoise{
  background-color: #1abc9c;
  fill: #1abc9c;
  color: white;
}
.emeralde{
  background-color: #2ecc71;
  fill: #2ecc71;
  color: white;
}
.river{
  background-color: #3498db;
  fill: #3498db;
  color: white;
}
.amethyste{
  background-color: #9b59b6;
  fill: #9b59b6;
  color: white;
  color: white;
}
.asphalte{
  background-color: #34495e;
  fill: #34495e;
  color: white;
}
.alizarine{
  background-color: #e74c3c;
  fill: #e74c3c;
  color: white;
}
.flower{
  background-color: #f1c40f;
  fill: #f1c40f;
  color: white;
}
.midnighte{
  background-color: #2c3e50;
  fill: #2c3e50;
  color: white;
}

.bluegrey{
  background-color: #607D8B;
  fill: #607D8B;
  color: white;
}

.cyan{
  background-color: #00BCD4;
  fill: #00BCD4;
  color: white;
}



