div.jumbotron > div.container > h2 {
  margin-bottom:18px;
}

.label {
  display: inline;
  padding: 0.5em 1em .5em;
  font-size: 100%;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  font-weight: 300;
  border-radius: .3em
}

.label.label-outline {
  color: #f3f7f9;
  background-color: transparent;
  border-color: #f3f7f9
}

.label-outline {
  border: 1px solid transparent
}

.label-round {
  border-radius: 1em
}

.label-default {
  color: #76838f;
  background-color: #e4eaec
}

.label-default[href]:focus,.label-default[href]:hover {
  background-color: #f3f7f9
}

.label-default.label-outline {
  color: #e4eaec;
  background-color: transparent;
  border-color: #e4eaec
}

.label-default[href]:focus,.label-default[href]:hover {
  color: #a3afb7
}

.label-default.label-outline {
  color: #76838f
}

.label-primary {
  background-color: #62a8ea
}

.label-primary[href]:focus,.label-primary[href]:hover {
  background-color: #89bceb
}

.label-primary.label-outline {
  color: #62a8ea;
  background-color: transparent;
  border-color: #62a8ea
}

.label-success {
  background-color: #46be8a
}

.label-success[href]:focus,.label-success[href]:hover {
  background-color: #5cd29d
}

.label-success.label-outline {
  color: #46be8a;
  background-color: transparent;
  border-color: #46be8a
}

.label-info {
  background-color: #57c7d4
}

.label-info[href]:focus,.label-info[href]:hover {
  background-color: #77d6e1
}

.label-info.label-outline {
  color: #57c7d4;
  background-color: transparent;
  border-color: #57c7d4
}

.label-warning {
  background-color: #f2a654
}

.label-warning[href]:focus,.label-warning[href]:hover {
  background-color: #f4b066
}

.label-warning.label-outline {
  color: #f2a654;
  background-color: transparent;
  border-color: #f2a654
}

.label-danger {
  background-color: #f96868
}

.label-danger[href]:focus,.label-danger[href]:hover {
  background-color: #fa7a7a
}

.label-danger.label-outline {
  color: #f96868;
  background-color: transparent;
  border-color: #f96868
}

.label-dark {
  background-color: #526069
}

.label-dark[href]:focus,.label-dark[href]:hover {
  background-color: #76838f
}

.label-dark.label-outline {
  color: #526069;
  background-color: transparent;
  border-color: #526069
}

.label-lg {
  font-size: 16px
}

.label-sm {
  padding: .1em .5em .1em;
  font-size: 10px
}
