.navbar{
  border-radius: 0px;
  z-index: 4000;
}
.navbar-brand{
  height: 40px;
}
.navbar-brand {
  float: left;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
}